<!DOCTYPE html>
  <html>
    <head>
      <title>Stat Tracker</title>
        <meta charset="utf-8">
          <link href="index.css" rel="stylesheet">
    </head>
    <body>
        Input activity:
        <br>
        <br>
        <form>
        <input type="text" name="activity" placeholder="activity">
        <form method="post" action="submit"
        </form>
        <button type="submit">Add Activity</button>
        <button type="submit">Delete Activity</button>
        <button type="submit">Update Activity</button>
        <script type="text/JavaScript" src="../index.js"></script>
    </body>
  </html>
